.tab.shorter {
    height: 52.34375vw;
}

.tab_title.shorther {
    margin: 1.5625vw auto 0;
}

.price.shorther {
    margin: 1.5625vw auto;
}

.order_button_container.shorther {
    height: 6.73%;
}

.button_load_more_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 31.25vw;
    height: 5.6875vw;
    margin: 1vw auto 4.47vw;
    padding-top: 1vw;

    vertical-align: middle;

}

.button_load_more {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    background-color: #333333;
    border-radius: 6px;
    text-decoration: none;
    padding: 0.781vw 2.34vw;
    font-size: 2.5vw;
    cursor: pointer;
    color: #FFFFFF;

    width: 100%;
}

.button_load_more:hover {
    background-color: #444444;
}

.button_load_more:active {
    background-color: #666666;
}

.central_buttons_svg {
    height: 100%;
    width: fit-content;
    margin-left: 1.562vw;
}

.offer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: start;
    margin: 4vw 2vw;
}

.offer_photo {
    width: 35vw;
    padding: 0 2vw;
    /*height: 40vw;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offer_information {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    width: 60vw;
    margin-left: 2vw;
}

.offer_title {
    margin-bottom: 1vw;
}

.offer_other_info {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: start;
    width: 100%;
    margin-top: 2vw;
}

.offer_infoblock {
    height: 100%;
    /*width: 30%;*/
    margin-right: 4vw;
    font-size: 1.875vw;
}

.offer_infoblock.two {
    /*width: 50%;*/
}

.offer_full_picture {
    width: 100%;
    /*border: 3px solid #333333;*/
}

.order_button.offer {
    height: 4vw;
    width: fit-content;
    margin: 1vw 0;
    align-items: center;

}

.h2.offer {
    text-align: left;
    margin: 0;
}

.vertically_centered_text {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.drop-down_container {
    display: block;
}
.drop-down_box {
    width: 16vw;
    height: 3vw;
    font-family: inherit;
    font-size: 1.875vw;
}

.drop-down_box.purpose {
    margin-bottom: 0.9375vw;
}

.classic {
    align-items: start;
}

.classic.ofr {
    width: 30%;
    margin-right: 2.5vw;
}

.middle_level_offer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
}

.price.ofr {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    font-size: 2.8vw;
    margin: 0;
}

input[type=checkbox] {
    accent-color: #333333;
    height: 1.2vw;
    width: 1.2vw;
}
